*{
   box-sizing: border-box;
}

a{
    text-decoration: none;
}

body, a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    color: #A9A9A9; 
}

.popup-wrap{
    max-width: 347px;
    height: 209px;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 32px;
    padding-top: 49px;
    width: 100%;
}

.popup-text{
    width: 222px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin: 0 auto;
}

.popup-text p {
    margin: 0;
}

.btn{
    display: flex;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.btn a{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.horizontal-gradient-color{
    background: linear-gradient(90deg, #09329E 0%, #7A14B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-btn-block{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 49px;
}

.popup-btn{
    width: 111px;
    height: 37px;
}

.wrap-screen{
    width: 100%;
    max-width: 363px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.close-btn{
    width: 35px;
    height: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    text-align: center;
    transform: rotate(45deg);
    float: right;
    z-index: 10;
}

.close-btn a{
    line-height: 35px;
    background: radial-gradient(rgb(255, 255, 255) 7% , #696969 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

.wrap-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.steps{
    display: flex;
}

.steps .step + .step {
    margin-left: 25px;
}

.step{
    width: 15px;
    height: 15px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.complete-step{
    background: #7A14B0;
}

.step-value {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 17px;
}

.step-description{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 19px;
    text-align: center;
}

.resource-image{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.grid-resource {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 16px;
}

.resource{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 23px;
    margin-left: 4px;
    margin-right: 4px;
}
/* градиет */
.resource-image-gradient{
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top, #09329E,#7A14B0);
}

.resource-description{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
}

.margin-left{
    margin-left: 8px;
}

.next-first-step-btn{
    margin-top: 49px;
    margin-bottom: 110px;
    width: 161px;
}

.container-btn-list{
    margin-top: 32px;
}

.container-btn-list .btn + .btn {
    margin-top: 21px;
}

.second-step-btn{
    width: 206px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 41px;
}

.second-step-btn a{
    font-size: 16px;
    line-height: 19px;
}

.btn-border-gradient{
    border: 3px solid transparent;
    background-image: linear-gradient(white, white), radial-gradient(ellipse at 50% 0%, #09329E 0%,#7A14B0 100%);
}

.second-step-btn-block{
    max-width: 298px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    height: 41px;
    margin-bottom: 52px;
    width: 100%;
}

.screen-controll-btn{
    width: 138px;
}

.screen-controll-btn a{
    line-height: 21px;
    font-size: 18px;
}

.third-step-btn-block{
    max-width: 298px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    height: 41px;
    margin-bottom: 82px;
    width: 100%;
}

.checkbox-container{
    width: 100%;
    max-width: 328px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

.checkbox-container .fourth-step-checkbox + .fourth-step-checkbox{
    margin-top: 14px;
}


.checkbox{
    display: none;
}


.fourth-step-lable::before{
    font-family: 'FontAwesome';
    content: " ";
    width: 31px;
    height: 31px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 9px;
    text-align: center;
    font-size: 27px;
    background: linear-gradient(180deg, #09329E 25%, #7A14B0 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.checkbox:checked + .fourth-step-lable:before {
    content: "\f00c";
}

.fourth-step-btn-block{
    width: 298px;
    display: flex;
    justify-content: space-between;
    height: 41px;
    margin-top: 64px;
    margin-bottom: 98px;
}

.fifth-step-description{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    width: 280px;
}

.city-input{
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 280px;
    height: 42px;
    font-size: 18px;
    line-height: 21px;
    border: none;
}

.about{
    width: 280px;
    height: 120px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: none;
}

.attchments{
    width: 280px;
}

.add-attchment{
    width: 103px;
    height: 103px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-extra-input {
    width: 100%;
    max-width: 280px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: none;
    background: #FFFFFF;
    height: 42px;
    padding-left: 16px;
}

.city-input-icon {
    position: relative;
    font-size: 27px !important;
    line-height: 21px;
    z-index: 2;
    left: 115px;
    bottom: 34px;
    background: linear-gradient(180deg, rgb(83, 83, 83) 0%, rgb(248, 248, 248) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 102;
}

.select-list{
    max-width: 280px;
    width: 100%;
}

.options{
    width: 280px;
    height: 560px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative;
    bottom: 68px;
    padding: 14px;
}

.content-options{
    margin-top: 56px;
    height: 460px;
    display: flex;
    justify-content: space-between;
}

.scrollbar{
    width: 4px;
    height: 468px;
    background: #C4C4C4;
    border-radius: 5px;
}

.scrollbar-text{
    width: 159px;
    height: 480px;
}

.scroll-bar-thumb{
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: relative;
    bottom: 10px;
    right: 7px;
}


.margin-top{
    margin-top: 17px;
}

.progect{
    background: linear-gradient(180deg, #09329E 0%, #7A14B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.progect-step{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.desc{
    width: 256px;
}

.progect-desc-1{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.progect-desc-2{
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.progect-input{
    width: 280px;
    height: 44px;
    left: 67px;
    top: 433px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: none;
}

.check-margin{
    margin-top: 24px;
}

.wrap-extra-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 361px;
    width: 100%;
}

.main-container{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    position: relative;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 115px;
    height: 101px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: relative;
    bottom: 50px;
}

.arrow-container a{
    font-size: 54px;
}

.main-icon-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    margin-top: 23px;
    width: 100%;
    max-width: 291px;
}

.main-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-block{
    width: 51px;
    height: 51px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.icon-block a{
    font-size: 36px;
}

.icon-block-select a{
    background: linear-gradient(0deg, #09329E 0%, #7A14B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-description{
    font-size: 13px;
    line-height: 16px;

}

.decision-icon-block{
    display: flex;
    justify-content: space-between;
    width: 293px;
}

.des-icon-1{
    width: 142px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 80px 0px 0px 80px;
}

.des-icon-2{
    width: 142px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 80px 0px 0px 80px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.select-des-icon-desc{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.des-slider-block{
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.des-icon-desc{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.des-slider-block{
    width: 100%;
    height: 285px;
    background: #EDEDED;
    border-radius: 15px;
    margin-bottom: 10px;
}

.des-slider-top{
    display: flex;
    justify-content: space-around;
}

.des-slider-info{
    width: 50%;
}

.des-slider-close{
    width: 50%;
}

.slider-date{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;
}

.slider-user-name{
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.slider-text{
    margin-top: 2px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.slider-clode-btn{
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    font-size: 40px;
}

.slider-clode-btn a{
    background: radial-gradient(rgb(255, 255, 255) 0% , #696969 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.des-slider-bottom{
    display: flex;
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 10px;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 384px;
    height: 108.57px;

}

.slider::before{
    font-family: 'FontAwesome';
    content: "\f104";
    display: inline-block;
    font-size: 54px;
}

.slider::after{
    font-family: 'FontAwesome';
    content: "\f105";
    display: inline-block;
    font-size: 54px;
}

.slider-content{
    width: 108.57px;
    height: 108.57px;
    background: linear-gradient(0deg, #DEDEDE, #DEDEDE), #FFFFFF;
    border-radius: 15px;
}

.check-slider{
    width: 35.05px;
    height: 35.05px;
    background-color: #EDEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    float: right;
}

.check-slider a{
    background: linear-gradient(#696969 0% ,rgb(255, 255, 255) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active-main-icon{
    border: 3px solid transparent !important;
    background-image: linear-gradient(white, white), radial-gradient(circle at top, #09329E,#7A14B0) !important;
}

.des-icon-1, .des-icon-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.des-icon-1, .des-icon-2{
    font-size: 36px;
}

.resource-icon-block{
    max-width: 306px;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    width: 100%;
}

.res-desc{
    text-align: center;
}

.res-ico-1{
    width: 97px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 80px 0px 0px 80px;
}

.res-ico-1{
    width: 97px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 60px 0px 0px 60px;
}

.res-ico-2{
    width: 98px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.res-ico-3{
    width: 98px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0px 60px 60px 0px;
}

.res-ico-1, .res-ico-2, .res-ico-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-ico-1, .res-ico-2, .res-ico-3 a{
    font-size: 35px;
}

.add-res-block{
    max-width: 317px;
    width: 100%;
    height: 105.37px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 179px;
}

.resource-img{
    width: 105.37px;
    height: 105.37px;
    background: linear-gradient(0deg, #DEDEDE, #DEDEDE), #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.btn-rel{
    position: relative;
    left: 16px;
    bottom: 33px;
}


.res-img-desc{
    margin-left: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.filter-btn{
    width: 196px;
    height: 42px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-top: 22px;
    margin-bottom: 302px;
}

.margin-remove{
    margin-bottom: 17px;
}

.people-img{
    width: 92px;
    height: 92px;
    background: #DEDEDE;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: 3px solid white;
    margin-left: 11px;
}

.peop-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13px;
}

.peop-btn{
    width: 104px;
    height: 27px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.extra-class{
    width: 100%;
    margin-left: 28px;
}

.close-btn-option-one{
    left: 61px;
    bottom: 36px;
}

.peop-name{
    margin-bottom: 9px;
    margin-top: 0;
}

.ex-mt{
    margin-bottom: 58px;
}

@media only screen and (max-width : 320px) {
    .wrap-extra-main{
        max-width: 300px;
    }
    
    .btn-rel{
        left: 19px;
        bottom: 35px;
    }

    .add-res-block{
        max-width: 275px;
    }

    .decision-icon-block{
        max-width: 293px;
        width: 100%;
    }

    .adaptive{
        left: -1px !important;
    }

    .resource-icon-block{
        max-width: 306px;
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .res-ico-1, .res-ico-2, .res-ico-3{
        max-width: 90px;
    }

    .des-icon-1, .des-icon-2{
        max-width: 130px;
    }

    .decision-icon-block{
        padding-left: 10px;
        padding-right: 10px;
    }

    .wrap-screen{
        max-width: 300px;
    }

    .fourth-step-btn-block{
        padding-left: 5px;
        padding-right: 5px;
    }

    .second-step-btn-block{
        padding-left: 5px;
        padding-right: 5px;
    }

    .third-step-btn-block{
        padding-left: 5px;
        padding-right: 5px;
    }

    .resource-description{
        font-size: 13px;
    }
}
